<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}"></head>


<body>
  <div>
    <div class="chat-app">
      <div class="sidebar">
        <div class="user-profile">
          <a style="cursor: pointer; text-decoration: none;" th:href="@{/user_details}">
            <img th:src="@{${userImage}}" alt="User Image" class="user-image">
          </a>
          <button class="add-friend">Add Friends</button>
        </div>
        <div class="search-bar">
          <input class="input" type="text" placeholder="Search...">
        </div>

        <div class="friends-list">
          <ul class="chat-ul">
            <li class="chat-li">
              <div class="row m-2">
                <img th:src="@{images/status/user.png}" style="max-width: 60px; max-height: 60px;" />
                &nbsp;
                <div class="col m-1">
                  <label><b>Name</b></label>
                  <p>Last message</p>
                </div>
              </div>
            </li>

          </ul>
        </div>

      </div>
      <div class="chat-area">
        <div class="chat-header">Chat with Friend 1</div>
        <div class="chat-messages">
          <!-- Chat messages will appear here -->
        </div>
        <div class="chat-input">
          <input class="input" type="text" placeholder="Type a message...">
          <button class="send-button">
            <img th:src="@{images/buttons/send.png}" alt="Send">
          </button>
        </div>
      </div>
    </div>
  </div>





</body>

</html>