<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('none')}" />


<body>

  <div class="container-fluid">
    <div style="margin-top: 200px;">
      <h1 class="m-2" style="text-align: center;color: aliceblue;text-shadow: 0 0 3px;">An error occurred while activating the account.</h1>
      <h4 style="text-align: center;">
        <a style="text-decoration: none; color: white;" th:href="@{/}">Homepage</a>
      </h4>
    </div>
  </div>


</body>

</html>